/* Стили обнуления */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}
li {
	list-style: none;
}
a,
a:visited {
	text-decoration: none;
}
a:hover {
	text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}
img {
	vertical-align: top;
}
body {
	line-height: 1;
	color: #000;
}
/* ------------------ */

.block {
	background-color: orangered;
	padding: 30px;
	font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
	/*
	padding-top: 20px;
	padding-right: 10px;
	padding-bottom: 30px;
	padding-left: 50px;
	*/
	/* padding: 20px 10px 30px 50px;*/

	/* Для всех сторон 30 */
	/* padding:  30px; */

	/* Сверху\снизу 50. слева\справа 30 */
	/* padding: 50px 30px; */

	/* Сверху 50, слева\справа 30, снизу 10 */
	/* padding: 50px 30px 10px; */

	/*
	margin-top: 20px;
	margin-right: 10px;
	margin-bottom: 30px;
	margin-left: 50px;
	*/
	/* margin: 20px 10px 30px 50px;*/

	/* Для всех сторон 30 */
	/* margin: 30px; */

	/* Сверху\снизу 50. слева\справа 30 */
	/* margin: 50px 30px; */

	/* Сверху 50, слева\справа 30, снизу 10 */
	/* margin: 50px 30px 10px; */

	/* Больше можна, меньше нет */
	/*
	min-width: 500px;
	min-height: 100px;
	*/
	/* Меньше можна, больше нет */
	/*
	max-width: 500px;
	max-height: 100px;
	*/
}

.block__inner {
	margin: 0px 0px -30px 0px;
}
.title {
	font-weight: 700;
	font-size: 30px;
	margin: 0px 0px 20px 0px;
}
.text {
	line-height: 130%;
	margin: 0px 0px 30px 0px;
}
.link {
	color: yellow;
	display: inline-block;
	margin: 0px 0px 30px 0px;
}

.inline {
	background-color: olive;
}
/* К картинке применяется как к блочному тегу  */
.image {
	/* Хорошая практика */
	max-width: 100%;
}





box-sizing
Применяется для изменения алгоритма расчета ширины и высоты элемента. 
Свойство наследуется.
content-box - Основывается на стандартах CSS, при этом свойства width и height задают ширину и высоту контента и не включают в себя значения отступов, полей и границ.
border-box - Свойства width и height включают в себя значения полей и границ, но не отступов (margin). Эта модель используется браузером Internet Exporer в режиме несовместимости.
padding-box - Свойства width и height включают в себя значения полей, но не отступов (margin) и границ (border). 


/*
width
Устанавливает ширину блочных тегов и некоторыйх строчных (например img)
Свойство не наследуется.
width:100px;
width:10%;
*/

/*
height:
Устанавливает высоту блочных тегов и некоторыйх строчных (например img)
Свойство не наследуется.
height:100px;
height:10%;
*/


max-width
Устанавливает максимальную ширину блочных тегов 
и некоторыйх строчных (например img)

min-width
Устанавливает минимальную ширину 
блочных тегов и некоторыйх строчных (например img)

max-height
Свойство не наследуется.

min-height
Свойство не наследуется.



overflow 
Управляет отображением содержания блочного элемента
visible - Отображается все содержание элемента, даже за пределами установленной высоты и ширины. 
hidden - Отображается только область внутри элемента, остальное будет скрыто.
scroll - Всегда добавляются полосы прокрутки.
auto - Полосы прокрутки добавляются только при необходимости.

display:
Многоцелевое свойство, которое определяет, как элемент должен быть показан в документе.
Свойство не наследуется.

block - Элемент показывается как блочный. Применение этого значения для встроенных элементов, например тега <span>, заставляет его вести подобно блокам — происходит перенос строк в начале и в конце содержимого. 											
inline - Элемент отображается как встроенный. Использование блочных тегов, таких как <div> и <p>, автоматически создает перенос и показывает содержимое этих тегов с новой строки. Значение inline отменяет эту особенность, поэтому содержимое блочных элементов начинается с того места, где окончился предыдущий элемент. 											
inline - block - Это значение генерирует блочный элемент, который обтекается другими элементами веб-страницы подобно встроенному элементу. Фактически такой элемент по своему действию похож на встраиваемые элементы (вроде тега <img>). При этом его внутренняя часть форматируется как блочный элемент, а сам элемент — как встроенный. 											
none - Временно удаляет элемент из документа. Занимаемое им место не резервируется и веб-страница формируется так, словно элемента и не было. 

